     @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}
                                  /* shared styles */
.paragraph{
    color: #727272;
    font-weight: 400;
    line-height: 26px; 
    margin-bottom: 30px;
}
.primary-btn{
    width: 180px;
    height: 64px;
    border-radius: 8px;
   background-color: #FF900E;
}
.primary{
    padding: 50px 240px;
}
                          /* * header styles */ 
header{
    background-color: rgba(255, 144, 14, 0.10);
   
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h3{
    font-size: 2.9rem;
    font-weight: 700;
}
nav >ul{
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 30px;
}
nav li a{
    text-decoration: none;
}
                                   /* banner styles  */
.banner-content{
   max-width: 800px;
    text-align: center;
    margin: 50px auto;
    /* padding: 50px; */
}
.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner img{
    width: 100%;
}
                                  /* team section  */
.team-container{
    display: flex;
    gap: 50px;
    align-items: center;
    
}
.team-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.team-title{
   width: 468px;
   font-size: 2.9rem;
}
.quick-list{
    color: #727272;
    font-weight: 700;
}
  






/* media queries*/

@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav {
        flex-direction: column;
    }
}
/* medium devices  */
@media screen and (min-width: 576px) and (max-width: 992px) {
    nav {
        flex-direction: column;
        /* text-align: center; */
    }
    header{
        padding: 20px;
    }

}
